# Import data from json file
- input: jason files
- output: 
    - data1: list of json objects
    - data2: normailized dataframe of data
    - data3: 1000 sample records, with only relevant columns

In [71]:
# IMPORT JSON FILES TO A LIST OF OBJECTS
import json
with open('../data/1.pulledTweets.json','r') as f:
    data1=[json.loads(line) for line in f]

In [72]:
# CONVERT AND NORMALIZE DATA TO A PANDAS DATAFRAME
import pandas
from pandas.io.json import json_normalize
data2=pandas.json_normalize(data1)
data2.head(3)

,created_at,id,id_str,text,truncated,source,in_reply_to_status_id,in_reply_to_status_id_str,in_reply_to_user_id,in_reply_to_user_id_str,...,retweeted_status.quoted_status.contributors,retweeted_status.quoted_status.is_quote_status,retweeted_status.quoted_status.retweet_count,retweeted_status.quoted_status.favorite_count,retweeted_status.quoted_status.favorited,retweeted_status.quoted_status.retweeted,retweeted_status.quoted_status.possibly_sensitive,retweeted_status.quoted_status.lang,retweeted_status.scopes.followers,quoted_status.user.entities.url.urls
0,Sun May 02 07:59:00 +0000 2021,1388764950466863104,1388764950466863104,"""House of Cards"" has always hit differently üéÇ ...",True,"<a href=""https://www.sprinklr.com"" rel=""nofoll...",NaN,None,NaN,None,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Sun May 02 22:11:00 +0000 2021,1388979360024055812,1388979360024055812,POWER A Enhanced Wireless Controller for Ninte...,True,"<a href=""https://about.twitter.com/products/tw...",NaN,None,NaN,None,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Sun May 02 14:21:00 +0000 2021,1388861081616068611,1388861081616068611,Select 1st party Switch $39.99 physical/digita...,True,"<a href=""https://about.twitter.com/products/tw...",NaN,None,NaN,None,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [73]:
# KEEP ONLY INTERESTED COLUMNS, write to csv file
data3=data2[['created_at','id','text']]
data3.to_csv('../data/2.pulledTweets.csv')
data3.tail(3)

,created_at,id,text
697,Tue Apr 27 23:58:07 +0000 2021,1387194380943953922,RT @kokonananya: Ë¶ã„Åã„Åë„Çã„Å®ÊÄù„Çè„Åö„Äå„Å™„Çì„ÅÆ‰∏ªÂºµ„ÇÑ„Å≠„ÇìÔºÅ„Äç„Å®Âè´„Å∞„Åö„Å´„ÅØ„ÅÑ„Çâ„Çå„Å™...
698,Tue Apr 27 23:58:04 +0000 2021,1387194365223702529,RT @bigtickHK: The First Day of Spring by Nanc...
699,Tue Apr 27 23:58:04 +0000 2021,1387194364695388164,ad: $29.99 (50% off) \n \nGalaxy Star Projecto...