# Language detection and clear non-english articles
- input: 
    - data3: dataframe with 'text' columns, in many languages
- output: 
    - data3: dataframe with only english articles

In [2]:
import pandas
data3=pandas.read_csv('../data/2.pulledTweets.csv')
data3.tail()

,Unnamed: 0,created_at,id,text
699,695,Tue Apr 27 23:58:10 +0000 2021,1.387194e+18,【#Amazonタイムセール速報】\nタッチペン #iPad対応ペンシル #パームリジェクシ...
700,696,Tue Apr 27 23:58:08 +0000 2021,1.387194e+18,RT @bigtickHK: First Steps: How Upright Walkin...
701,697,Tue Apr 27 23:58:07 +0000 2021,1.387194e+18,RT @kokonananya: 見かけると思わず「なんの主張やねん！」と叫ばずにはいられな...
702,698,Tue Apr 27 23:58:04 +0000 2021,1.387194e+18,RT @bigtickHK: The First Day of Spring by Nanc...
703,699,Tue Apr 27 23:58:04 +0000 2021,1.387194e+18,ad: $29.99 (50% off) \n \nGalaxy Star Projecto...

In [3]:
# GOOGLE LANGUAGE DETECTION

data3['language']=''
from langdetect import detect
for i in range(len(data3)):
    try: data3['language'][i]=detect(data3['text'][i])
    except: 
        data3['language'][i]='en'
        continue
data3.tail()

/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,Unnamed: 0,created_at,id,text,language
699,695,Tue Apr 27 23:58:10 +0000 2021,1.387194e+18,【#Amazonタイムセール速報】\nタッチペン #iPad対応ペンシル #パームリジェクシ...,ja
700,696,Tue Apr 27 23:58:08 +0000 2021,1.387194e+18,RT @bigtickHK: First Steps: How Upright Walkin...,en
701,697,Tue Apr 27 23:58:07 +0000 2021,1.387194e+18,RT @kokonananya: 見かけると思わず「なんの主張やねん！」と叫ばずにはいられな...,ja
702,698,Tue Apr 27 23:58:04 +0000 2021,1.387194e+18,RT @bigtickHK: The First Day of Spring by Nanc...,en
703,699,Tue Apr 27 23:58:04 +0000 2021,1.387194e+18,ad: $29.99 (50% off) \n \nGalaxy Star Projecto...,en

In [4]:
# Check out the number of messages in each language, top 5
data3[['language','id']].groupby('language').count().sort_values(by=['id'], ascending=False).head()

           id
language
ja        376
en        252
pt         25
es         13
et          8

In [5]:
# DROP NON-ENGLISH ARTICLES
data3=data3[(data3['language']=='en')|(data3['language']=='')].reset_index()
data3[['language','id']].groupby('language').count()

           id
language
en        252

In [6]:
data3.tail()

,index,Unnamed: 0,created_at,id,text,language
251,697,693,Tue Apr 27 23:58:10 +0000 2021,1.387194e+18,Sometimes you get a third chance - Love's Thir...,en
252,698,694,Tue Apr 27 23:58:10 +0000 2021,1.387194e+18,Check out this Amazon deal: The Art of My Neig...,en
253,700,696,Tue Apr 27 23:58:08 +0000 2021,1.387194e+18,RT @bigtickHK: First Steps: How Upright Walkin...,en
254,702,698,Tue Apr 27 23:58:04 +0000 2021,1.387194e+18,RT @bigtickHK: The First Day of Spring by Nanc...,en
255,703,699,Tue Apr 27 23:58:04 +0000 2021,1.387194e+18,ad: $29.99 (50% off) \n \nGalaxy Star Projecto...,en

In [8]:
data3=data3[['created_at','id','text','language']]
data3.tail()

,created_at,id,text,language
251,Tue Apr 27 23:58:10 +0000 2021,1.387194e+18,Sometimes you get a third chance - Love's Thir...,en
252,Tue Apr 27 23:58:10 +0000 2021,1.387194e+18,Check out this Amazon deal: The Art of My Neig...,en
253,Tue Apr 27 23:58:08 +0000 2021,1.387194e+18,RT @bigtickHK: First Steps: How Upright Walkin...,en
254,Tue Apr 27 23:58:04 +0000 2021,1.387194e+18,RT @bigtickHK: The First Day of Spring by Nanc...,en
255,Tue Apr 27 23:58:04 +0000 2021,1.387194e+18,ad: $29.99 (50% off) \n \nGalaxy Star Projecto...,en

In [9]:
data3.to_csv('../data/3.pulledTweets-English.csv')