# Entity Recognition

In [1]:
import pandas
data4=pandas.read_csv('../data/5.pulledTweet-deduplicated.csv')
data4.tail()

,Unnamed: 0,Unnamed: 0.1,index,created_at,id,text,language,shingleSet,signature
219,219,227,251.0,Tue Apr 27 23:58:10 +0000 2021,1.387194e+18,Sometimes you get a third chance Love s Thir...,en,"{1975646848, 3508350977, 2277555713, 187718236...","[18622085, 32776440, 21561465, 191860621, 9160..."
220,220,228,252.0,Tue Apr 27 23:58:10 +0000 2021,1.387194e+18,Check out this Amazon deal The Art of My Neig...,en,"{622155522, 3082850439, 1706091273, 1593029644...","[116119196, 134412392, 15045377, 922378, 36390..."
221,221,229,253.0,Tue Apr 27 23:58:08 +0000 2021,1.387194e+18,First Steps How Upright Walking Made Us Hum...,en,"{2352757504, 1318699267, 463207690, 4013102741...","[77244016, 247586965, 343106086, 653196371, 20..."
222,222,230,254.0,Tue Apr 27 23:58:04 +0000 2021,1.387194e+18,The First Day of Spring by Nancy Tucker B...,en,"{3712246153, 2391777162, 2684049684, 401310274...","[8379671, 18718807, 281343041, 177753045, 3669..."
223,223,231,255.0,Tue Apr 27 23:58:04 +0000 2021,1.387194e+18,ad off Galaxy Star Projector ...,en,"{2473481, 4013102741, 566037670, 2455870758, 1...","[144950540, 122747773, 41607353, 97773221, 829..."

In [4]:
import spacy
nlp = spacy.load("en_core_web_sm", disable = ['tagger','lemmatizer','parser'])
ents = []
for doc in data4['text']:
    doc=str(doc)
    doc = nlp(doc)
    for ent in doc.ents:
            if ent.label_ in ['ORG','PERSON','FAC','GPE']:
                ents.append(str(ent))

from collections import Counter
Counter(ents).most_common(10)

[('Amazon', 27),
 ('Frank Sonnenberg', 7),
 ('UK', 4),
 ('AMZN', 4),
 ('VakeelSaabOnPrime', 3),
 ('AAPL', 3),
 ('US', 3),
 ('Amazon    ', 3),
 ('NFLX', 2),
 ('NAT', 2)]